.button-pink {
    width: 130px;
    margin: 20px;
    background-color: pink;
    border-color: pink;
}

.align-buttons {
    text-align: center;
}

.title {
    font-size: 30px;
    padding-top: 10px;
    text-align: center;
}